<footer>
  <div class="top">
    <div class="content top-content">
      <a href="/">
        <img
          src="/images/esromgaard_logo.webp"
          alt="Esromgaard Logo"
          class="logo"
        />
      </a>

      <div class="footer-cta">
        <p>Kunne du tænke dig frisk frugt og grønt?</p>
        <a href="/gaardsalg" class="green-button">Besøg gårdsalget</a>
        <a href="/salgssteder" class="green-button">Se alle salgssteder</a>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="content bottom-content">
      <div class="footer-contact">
        <div>
          <strong>Adresse:</strong>
          <p>Frederiksværksvej 11, 3230 Græsted</p>
          <a href="/findvej" class="white-button">Find vej</a>
        </div>

        <div>
          <strong>Mail:</strong>
          <a href="mailto:info@esromgaard.dk">info@esromgaard.dk</a>
        </div>

        <div>
          <strong>Tlf:</strong>
          <p>+45 11 22 33 44</p>
        </div>

        <div>
          <strong>Sociale medier:</strong>
          <div class="footer-social-icons">
            <a
              href="https://www.facebook.com/esromgaard/?locale=da_DK"
              target="_blank"
            >
              <img src="/images/facebook_icon.svg" alt="facebook ikon" />
            </a>
            <a
              href="https://www.instagram.com/esromgaard/?hl=da"
              target="_blank"
            >
              <img src="/images/instagram_icon.svg" alt="instagram ikon" />
            </a>
          </div>
        </div>

        <div class="footer-kontrolrapport">
          <strong>Kontrolrapport:</strong>
          <a href="https://www.findsmiley.dk/719157" target="_blank">
            <img
              src="/images/kontrolrapport_icon.svg"
              alt="kontrolrapport link"
            />
          </a>
        </div>
      </div>

      <div class="footer-decoration-spacer"></div>

      <div class="footer-copyright">
        <p>Copyright © 2025 Esromgaard</p>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    grid-column: 1 / -1;
  }

  a {
    text-decoration: none;
  }

  .top,
  .bottom {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
  }

  .top {
    background-color: var(--color-footer-top);
  }

  .bottom {
    background-color: var(--color-site-green);
  }

  .top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  .footer-cta {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    font-size: var(--font-size-s);
  }

  .logo {
    height: 55px;
    width: auto;
  }

  .bottom-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    color: white;
  }

  .footer-contact {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }

  .footer-contact strong {
    display: block;
    margin-bottom: 0.4rem;
    font-size: var(--font-size-s);
  }

  .footer-contact p,
  .footer-contact a {
    font-size: var(--font-size-s);
    color: white;
  }

  .white-button {
    color: black !important;
  }

  .footer-social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 0.4rem;
  }

  .footer-kontrolrapport img {
    margin-top: 0.4rem;
    width: 50%;
    height: auto;
  }

  .footer-decoration-spacer {
    height: 0;
  }

  .footer-copyright {
    text-align: center;
    font-size: var(--font-size-s);
  }
</style>
