---

---

<footer>
  <div class="top">
    <div class="content top-content">
      <div>
        <a href="/"
          ><img
            src="/public/images/esromgaard_logo.webp"
            alt="Esromgaard Logo"
            class="logo"
          /></a
        >
      </div>
      <div class="footer-cta">
        <p>Kunne du tænke dig frisk frugt og grønt?</p>
        <a href="/gaardsalg" class="green-button">Besøg gårdsalget</a>
        <a href="/salgssteder" class="green-button">Se alle salgssteder</a>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="content bottom-content">
      <div class="footer-contact">
        <div>
          <strong>KONTAKTOPLYSNINGER:</strong>
        </div>
        <div>
          <strong>Adresse:</strong>
          <p>Frederiksværksvej 11, 3230 Græsted</p>
          <a href="/findvej" class="white-button">Find vej</a>
        </div>
        <div>
          <strong>Mail:</strong>
          <a href="mailto:info@esromgaard.dk">info@esromgaard.dk</a>
        </div>
        <div>
          <strong>Tlf:</strong>
          <p>+45 11 22 33 44</p>
        </div>
      </div>
      <div class="footer-2-columns">
        <div>
          <div class="footer-social">
            <div>
              <p>Følg os på sociale medier</p>
              <div class="footer-social-icons">
                <a
                  href="https://www.facebook.com/esromgaard/?locale=da_DK"
                  target="_blank"
                >
                  <img
                    src="/public/images/facebook_icon.svg"
                    alt="facebook ikon der fører til esromgaards facebookside"
                  />
                </a>
                <a
                  href="https://www.instagram.com/esromgaard/?hl=da"
                  target="_blank"
                >
                  <img
                    src="/public/images/instagram_icon.svg"
                    alt="instagram ikon der fører til esromgaards instagramside"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="footer-kontrolrapport">
            <p>Læs kontrolrapporten</p>
            <a href="https://www.findsmiley.dk/719157" target="_blank">
              <img
                src="/public/images/kontrolrapport_icon.svg"
                alt="Link til kontrolrapporten fra fødevarestyrelsen"
              />
            </a>
          </div>
        </div>
        <div>
          <img
            class="strawberry"
            src="/public/images/strawberry_icon.svg"
            alt="jordbær ikon"
          />
        </div>
      </div>
      <div class="footer-copyright">
        <p>Copyright © 2025 Esromgaard</p>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    grid-column: 1 / -1;
  }

  a {
    text-decoration: none;
  }

  .top,
  .bottom,
  .back {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
  }

  .top {
    background-color: var(--color-footer-top);
  }

  .bottom {
    background-color: var(--color-site-green);
  }

  .top-content {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin: 1rem 0;
  }

  .footer-cta {
    align-items: center;
    display: flex;
    gap: 1rem;
    color: white;
  }

  .logo {
    width: auto;
    height: 50px;
  }

  .bottom-content {
    display: flex;
    flex-direction: column;
    color: white;
  }

  .footer-contact {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-items: start;
    padding: 1rem 0;
    color: white;
  }

  .footer-contact strong {
    font-size: var(--font-size-s);
    color: white;
    display: block;
    margin-bottom: 0.25rem;
  }

  .footer-contact p {
    margin: 0;
    color: white;
    font-size: var(--font-size-s);
  }

  .footer-contact a {
    text-decoration: none;
    font-size: var(--font-size-s);
    color: white;
  }

  .footer-contact .white-button {
    margin-top: 0.75rem;
    color: #000 !important;
    text-decoration: none !important;
  }

  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10rem;
  }

  .footer-social-icons {
    display: flex;
    gap: 1rem;
  }

  .footer-copyright {
    margin-top: auto;
    padding: 1rem 0;
    text-align: center;
    font-size: var(--font-size-s);
  }

  .footer-2-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>
