---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <title>Esromgaard</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- CookieConsent CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css"
    />

    <!-- Leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />

    <!-- Global Styles -->
    <link rel="stylesheet" href="/styles/global.css" />
  </head>

  <body>
    <Header />

    <slot name="hero" />

    <div class="page">
      <div class="grid-overlay"></div>
      <slot />
      <Footer />
    </div>

    <!-- Lightbox -->
    <div id="lightbox" class="lightbox">
      <img id="lightbox-img" src="" alt="" />
    </div>

    <!-- Load CookieConsent config -->
    <script src="/cookieconsent-config.js" is:inline></script>

    <!-- Reload page if cookies are accepted, to load instagram embed -->
    <script>
      document.addEventListener("click", (e) => {
        if (e.target.textContent.includes("Accepter alle")) {
          location.reload();
        }
      });
    </script>

    <!-- Lightbox script -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.body.classList.add("loaded");
      });

      document.addEventListener("click", (e) => {
        if (e.target.matches("img.lightbox-target")) {
          const src = e.target.getAttribute("src");
          document.getElementById("lightbox-img").src = src;
          document.getElementById("lightbox").style.display = "flex";
        }
      });

      document
        .getElementById("lightbox")
        .addEventListener("click", function () {
          this.style.display = "none";
        });
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
